.contenedor,.contenedor2,.contenedor3 {
	display: flex;
	border: 1px solid #000;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}
.centrar-contenido {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.contenedor {
	width: 500px;
	align-items: end;
	flex-direction: column;
	margin: auto;
}
.contenedor2 {
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.contenedor3 {
	width: 450px;
	height: 450px;
	margin: auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.verde {
	background-color: #008000;
	padding: 25px;
	height: 100px;
	width: 100px;
	
	
}

.azul {
	background-color: #0000ff;
	padding: 25px;
	height: 100px;
	width: 100px;	
}

.rojo {
	background-color: #ff0000;
	padding: 25px;
	height: 100px;
	width: 100px;
	
}