.contenedor {
	background-size: 15px;
}

.verde {
	background-color: #008000;
	padding: 25px;
	height: 100px;
	width: 100px;
	text-align: center;

}

.azul {
	background-color: #0000ff;
	padding: 25px;
	height: 100px;
	width: 100px;
	text-align: center;
	
}

.rojo {
	background-color: #ff0000;
	padding: 25px;
	height: 100px;
	width: 100px;
	text-align: center;

}